@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Diamond Health and Fitness</h1>
    <p class="lead">A simple tool that lets you manage your club membership. You can manage Members, Classes and Trainers.
    Members can be easily added, edited and removed.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Sorting and searching</h3>
        <p>
            You can sort your members and classes by various attributes, and you can also use a search function to find anyone you
            need in a second.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Filtering</h3>
        <p>
            Filter by Peak, None Peak and Expired members.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Record Time</h3>
        <p>
            Record the times that your members visit
        </p>
        
    </div>
   

</div>